/* navbar styles */
/* general styles */

body {
	margin: 0px;
	overflow-x: hidden;
	font-family: Arial, Helvetica, sans-serif !important;
}
.page {
	padding-top: 10vh;
	padding-bottom: 10vh;
	overflow-x: hidden;
}
.titleStrong {
	font-weight: 800;
}
hr {
	width: 80%;
	border-radius: 50%;
	border: 1px solid rgba(255, 198, 145, 0.452);
}
/* carousel styles start */
.carousel-root {
	width: 100% !important;
	position: relative;
	z-index: 1;
}
.carouselImage {
	height: 400px;
}
ul li.thumb img.carouselImage,
ul li.thumb img.productImg {
	min-height: 50px !important;
	width: auto !important;
}
.carousel .control-dots .dot {
	width: 20px !important;
	height: 20px !important;
	box-shadow: none !important;
	background: rgb(255, 199, 16) !important;
}
.carousel .control-dots .dot:focus {
	outline: none;
}
/* carousel styles end */
/* card styles start */
.home-featured-items a .ui.card {
	width: 95% !important;
	border: 1px solid rgba(0, 0, 0, 0.658);
	border-radius: 0.5rem;
}
.home-featured-items a {
	margin: 10px auto 0 auto;
	flex-grow: 1 !important;
	width: 600px;
	min-width: 300px;
	max-width: 1000px;
	max-height: fit-content;
	position: relative;
	z-index: 2;
}
.extra.content div.ui.heart {
	margin-left: 20px;
}
.extra.content .ui.heart.rating .active.icon {
	color: rgb(252, 88, 88) !important;
	text-shadow: none !important;
}
.home-featured-items .ui.card:first-child,
.home-featured-items .ui.card:last-child {
	margin: 10px auto 10px auto;
}
.ui.card > .image {
	overflow: auto;
}
.ui.card > .image > img {
	height: 400px !important;
	width: auto !important;
}

.ui.card .cardCategory {
	padding: 10px;
	width: fit-content;
	margin: 0 10px 0 10px;
	color: rgb(255, 195, 98);
	background: black;
	border-radius: 25px;
}
.ui.card .extra.content.categories {
	display: flex;
	flex-wrap: wrap;
}
/* card styles end */
.app {
	overflow-x: hidden;
}

.visible {
	transition: 1000ms;
	opacity: 1;
}
.hidden {
	opacity: 0;
	transition: 1000ms;
}
/* navbar styles */

.navbar .container {
	display: flex;
	justify-content: center;
}
.navbar {
	padding-top: 40px;
	font-size: 1.5rem;
	/* background: url(janzart-nav.jpg); */
	background-size: 101% 101%;
	padding-bottom: 40px;
	background: linear-gradient(270deg, #fdc13fec, #ff8901dc, #fa9f54e0);
	background-size: 150% 150%;

	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;
}
.navbarImg {
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url(janzart-nav.jpg);
	background-size: 100% 70%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.493);
	z-index: -1;
}
.nav-brand {
	min-width: fit-content;
	width: 450px;
	text-align: center;
	font-size: 3.5rem;
	letter-spacing: 20px;
	font-weight: 200;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	color: black;
	text-shadow: 4px 4px 1px white;
	position: relative;
	top: 15px;
}
.responsiveNav .ui.segment {
	padding: 0px;
	border: none;
	box-shadow: none;
	background: none;
	width: 100%;
	transition: 500ms;
}
.responsiveNav {
	position: sticky;
	width: 100%;
	top: 0;
	display: flex;
	z-index: 1;
	transition: 500ms;
}
.nav-middle {
	text-align: center;
	background: rgb(224, 224, 224);
}
.nav-link {
	flex-grow: 1;
	text-align: center;
	font-size: 1.3rem;
	letter-spacing: 3px;
}
a.nav-link {
	color: black;
	padding: 10px;
	text-decoration: none;
	font-size: 1.3rem;
}
a.nav-link:hover {
	color: black;
	border-bottom: 5px solid rgb(255, 219, 99);
}
.nav-links {
	background: rgb(245, 245, 245);
	padding-top: 10px;
}
.nav-links-inner {
	display: flex;
	width: 70%;
	margin: 0 auto 0 auto;
}
a.active {
	border-bottom: 5px solid rgb(255, 219, 99);
}
.searchbar input[type='text']:focus {
	outline: none;
}
.searchbar input[type='text'] {
	width: 100%;
	font-size: 1.5rem;
	margin: 0px;
	flex-grow: 1;
	padding: 0px;
	border: none;
	padding-left: 2px;
}

.searchbar {
	/* border: 2px solid transparent;
	border-image: linear-gradient(to right, #836323 0, #c3a568 51%, #836323 100%);
	border-image-slice: 1; */
	border: 1px solid lightgray;
	height: fit-content;
	overflow: hidden;
	flex-wrap: nowrap;
	display: inline-flex;
	width: 100%;
}
.searchbar button[type='submit'] {
	width: 80px;
	font-size: 2rem;
	border: none;
	margin-left: auto;
	transition: 500ms;
	cursor: pointer;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.searchbar button[type='submit']:hover {
	background: rgb(238, 238, 238);
}
.searchbar input[type='text'] {
	padding-left: 50px;
	background: rgb(245, 245, 245) !important;
}
.searchbar button {
	width: fit-content;
	padding: 0 50px 0 50px;
	border: none;
	background: rgb(245, 245, 245);
	cursor: pointer;
	display: flex;
}

.searchbar button i.fa-caret-square-down {
	padding-left: 50px;
}
@media (max-width: 500px) {
	.searchbar button {
		width: fit-content;
		padding: 0 10px 0 10px;
		border: none;
		background: white;
		cursor: pointer;
		display: flex;
	}
	.searchbar button i.fa-caret-square-down {
		padding-left: 10px;
	}
}
.searchbar button:hover,
.searchbar button:focus {
	outline: none;
	background: rgb(238, 238, 238);
}
.ui.selection.dropdown {
	border-radius: 0px !important;
	border: 1px solid lightgray;
	padding: 0px !important;
	min-height: 0px !important;
	font-size: 1.25rem;
}
.ui.multiple.dropdown > .text {
	margin: 5.5px !important;
}
.ui.selection.dropdown > .dropdown.icon {
	padding: 5px !important;
	display: flex !important;
	justify-content: center !important;
}
.ui.selection.active.dropdown .menu {
	width: 300px !important;
	min-width: fit-content !important;
}
.ui.label {
	border-radius: 0px !important;
	background: rgb(0, 0, 0) !important;
	color: rgb(255, 255, 255) !important;
}
.filterMenu {
	display: flex;
	flex-direction: column;
	padding: 30px;
	border: 1px solid rgba(37, 37, 37, 0.466);
	border-top: none;
	width: 170px;
	background: white;
}
.filterMenu .ui.checkbox {
	padding: 10px;
}
.nav-end {
	position: relative;
	top: 30px;
	text-align: center;
	font-size: 1rem;
	margin: 0 50px 0 auto;
	display: flex;
	align-items: center; /* horizontal */
	justify-content: flex-end; /* vertical */
}
.login {
	background: rgba(255, 255, 255, 0.5);
	padding: 5px;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px auto 0 auto;
	color: black;
	margin-left: 20px;
	transition: 500ms;
}
.login:hover {
	background: white;
	box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.603);
}
.signup {
	width: 70%;
	color: black;
}
.nav-end .nav-cart {
	font-size: 2rem;
	color: black;
}

/* NAVBAR MOBILE STYLES START */
.mobile-nav {
	background: url(janzart-nav.jpg);
	background-size: 100% 60%;
	position: relative;
	z-index: 1;
}
.mobile-nav .nav-brand {
	padding: 10px;
	margin: 0px;
	font-size: 1.5rem;
	letter-spacing: 2px;
	width: fit-content;
}
.mobile-nav-head {
	display: flex;
}
.nav-toggle {
	margin-left: auto;
	margin-right: 10px;
	font-size: 1.5rem;
}
.nav-toggle i {
	margin-top: 10px;
}

.mobile-nav .searchbar input[type='text'] {
	font-size: 1rem;
}
.mobile-nav .searchbar button[type='submit'] {
	font-size: 1.5rem;
}
.nav-menu .nav-link {
	text-align: left;
	padding: 10px;
}
.nav-menu .login {
	text-align: center;
	margin: 0 auto 0 auto;
	margin-top: 10px;
	background: white;
	color: black;
}
.nav-menu {
	display: flex;
	background: rgb(243, 228, 199);
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.493);
	width: 100%;
}
.nav-menu a.nav-link {
	color: rgb(0, 0, 0);
	font-size: 1rem;
	display: block;
}
.mobile-cart .nav-cart {
	font-size: 3rem;
	color: white;
	margin-top: 100px;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.493);
}
.mobile-cart {
	margin-left: auto;

	width: 70%;
	text-align: center;
	background-size: cover;
	background: url(https://i.pinimg.com/originals/76/68/41/766841010bd6b0fc23b343848973c7d7.jpg);
}
.mobile-nav-links {
	padding-top: 50px;
	padding-bottom: 50px;
	min-width: fit-content;
	width: 30%;
}
/* NAVBAR MOBILE STYLES END */
/* NAVBAR STYLES END */
/* FOOTER STYLES BEGIN */
.footer {
	height: fit-content;
	background: rgb(230, 222, 182);
	overflow: hidden;
	padding-bottom: 100px;
}
.footer a.active {
	border-bottom-color: black;
}
.mailForm {
	padding: 20px;
	text-align: center;

	background: rgb(250, 250, 250);
	height: fit-content;
}
.mailForm input {
	width: 700px;
	max-width: 100%;
	height: 40px;
	padding-left: 20px;
	border: none;
}
.mailForm button {
	height: 40px;
	border: none;
	width: 100px;
	transition: 500ms;
}
@media (max-width: 500px) {
	.mailForm button {
		width: 100%;
	}
}
.mailForm button:hover {
	background: rgb(250, 195, 77);
	cursor: pointer;
}
.mailForm div {
	height: fit-content;
}
.footerNav {
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
}
.footerNav .nav-link {
	color: rgb(0, 0, 0);
	min-width: 250px;
}
/* FOOTER STYLES END */
/* LANDING STYLES BEGIN */
.landingHome {
	text-align: center;
	background: rgb(255, 255, 255);
	overflow: hidden;
}
.landingHome h1,
h1.home-featured-title {
	font-weight: 200;
	letter-spacing: 20px;
	text-align: center;
	overflow: hidden;
}
@media (max-width: 500px) {
	.landingHome h1,
	h1.home-featured-title {
		font-size: 1.5rem;
		text-align: center;
	}
}
.landingImages {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	margin-top: 50px;
}
.landingImage {
	width: 25%;
	flex-grow: 1;
}
@media (max-width: 500px) {
	.landingImage {
		width: 50%;
		flex-grow: 1;
	}
}
.home-custom {
	position: absolute;
	top: 45%;
	left: 0px;
	text-align: center;
	background: rgba(211, 211, 211, 0.603);
	display: flex;
	overflow: hidden;
	border: 5px rgba(211, 211, 211, 0.603) solid;
	width: 1000px;
	max-width: 100vw;
}
.home-custom button,
.home-custom h2 {
	margin-block-start: auto;
	margin-block-end: auto;
	margin-inline-start: auto;
	margin-inline-end: auto;
}
h2:first-child {
	margin-top: auto !important;
}
.home-custom a {
	margin-left: auto;
}
.home-custom button {
	padding: 20px;
	background: black;
	width: 30vw;
	margin-left: auto;
	min-width: fit-content;
	color: white;
	border: none;
	overflow: hidden;
	font-size: 2rem;
	transition: 500ms;
}
@media (max-width: 500px) {
	.home-custom button {
		padding: 20px;
		background: black;
		width: 100vw;
		margin-left: auto;
		min-width: fit-content;
		color: white;
		border: none;
		overflow: hidden;
		font-size: 1rem;
	}
	.home-custom {
		top: 50%;
	}
}
.home-custom button:hover {
	background: rgb(253, 200, 100);
	cursor: pointer;
}
/* LANDING STYLES END*/
/* FEATURED STYLES BEGIN */
.home-featured-title {
	margin-top: 10vh;
	margin-bottom: 10vh;
	width: 100%;
}
.home-featured-items {
	display: flex;
	flex-wrap: wrap;
}
/* FEATURED STYLES END */
/* LOGIN STYLES BEGIN */
.login-page {
	background: linear-gradient(270deg, #ffafbd, #ffc3a0, #9c00f3);
	background-size: 200% 200%;

	-webkit-animation: AnimationName 15s ease infinite;
	-moz-animation: AnimationName 15s ease infinite;
	animation: AnimationName 15s ease infinite;
	height: 100vh;
	width: 100vw;
	position: relative;
}
@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 93% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 93% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 93% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
.signInForm {
	display: block;
}
.signInContainer {
	padding: 5vw 0 5vw 0;
	background: white;
	width: 1000px;
	max-width: 100%;
	margin: 0 auto 0 auto;
	position: relative;
	top: 30vh;
	display: flex;
	flex-wrap: wrap;
	box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.493);
}

.fas.fa-palette {
	font-size: 5rem;
	background: rgb(27, 27, 27);
	color: white;
	border-radius: 50%;
	padding: 30px;
	margin-top: 10%;
}
.signInText {
	max-width: 100%;
	width: 600px;
	margin: 0 auto 0 auto;
	padding-right: 10%;
}
@media (max-width: 800px) {
	.signInText {
		padding-left: 10%;
	}
}
.signInText h1 {
	font-weight: 800;
	letter-spacing: 5px;
	font-size: 3rem;
}
.signInImage {
	flex-grow: 1;
	text-align: center;
	width: 400px;
	max-width: 100%;
}
.signInForm input[type='text'] {
	width: 100%;
	margin-bottom: 20px;
	padding: 5px;
	font-size: 1.5rem;
	border: none;
	border-bottom: 5px solid #ffc3a0;
	transition: 500ms;
}
.signInForm input[type='text']:focus {
	border-bottom: 5px solid #ffafbd;
	outline: none;
}
.signInForm input[type='submit'],
.signInForm a {
	padding: 10px 30px 10px 30px;
	border: none;
	margin: 5px;
	background: lightgray;
	color: black;
}
.signInForm input[type='submit']:hover,
.signInForm a:hover {
	background: rgb(224, 224, 224);
	color: black;
}
.formLogo {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 1.5rem;
	letter-spacing: 5px;
	height: fit-content;
	padding: 30px;
}

.formToHome {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 3rem;
	padding: 30px;
	color: #ffc3a0;
	transition: 500ms;
}
.formToHome:hover {
	color: #ffafbd;
	transition: 500ms;
}
/* LOGIN STYLES END */
/* PRODUCT PAGE BEGINS */
.productPage {
	display: flex;
}
.productPage .ratings {
	position: relative;
	top: -100px;
	right: 50px;
	text-align: right;
	z-index: 0;
}
@media (max-width: 500px) {
	.productPage .ratings {
		position: static;
	}
}
.productImg {
	width: 1000px;
	min-height: 400px;
	max-width: 100%;
	border: 3px double black;
}
.productCats {
	display: flex;
}
.productCat {
	margin-right: 15px;
	color: orange;
	background: black;
	border-radius: 0.5rem;
	text-align: center;
	padding: 10px;
}
.productPage i.fas.fa-heart {
	color: rgb(253, 70, 70);
	font-size: 2rem;
	margin: 10px;
}
/* PRODUCT PAGE ENDS */
